.menu {
    display: flex;
    gap: 1rem;
    background-color: lightblue;
}

ul {
    list-style-type: none;
}

.error {
    color: red;
}

.new-post-form {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
}

.user-cred {
    padding: 1rem;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 1rem;
    right: 2rem;
}